.page-container {
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 320px;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    flex-shrink: 0;
}