@import './forms/form.scss';
@import './pages/pages.scss';

.page-title {
    margin: 0 0 40px;
    font-size: 16px;
}
  
.page-link {
    margin: 15px 0;
}

.label-group {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0 0 30px;

    & label {
        margin-bottom: 10px;
        font-size: 12px;
        @media screen and (max-width: 400px) {
            font-size: 15px;
        }
    }
    .input-error {
        border-color: red;
    }
}

.email-link {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-bottom: 15px;
    color: grey;
    flex-shrink: 0;

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      margin: 5px;
      background-image: url('../img/email.png');
      background-size: 100%;
    }
}

.link-container {
    margin-top: 60px;
    flex-shrink: 0;
}
  
.main-title {
    margin: 0 0 30px;
    padding: 32px 0;
    font-size: 30px;

    &--bold {
        font-weight: 800;
    }
    &--thin {
        font-weight: 100;
    }
}

.sms-validator {
    position: absolute;
    width: 250px;
    height: 165px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: #e6dbe8;

    padding: 40px;
    input, button {
        width: 100%;
        flex-shrink: 0;
        margin: 10px;
    }
    label, span {
        padding: 5px;
        color: white;
        font-size: 20px;
    }
    button {
        padding: 10px;
        border: 0;
        background-color: #ce8fef;
        color: #fff;
        border-radius: 30px;
    }
}

.sms-layout {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.select-container {
    position: relative;

    &-values {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        border: 1px solid  #e6dbe8;;
        border-radius: 0 0 15px 15px;
    }
}

.select-value {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}