@import './variables.scss';

body, html {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
}

#root {
  height: 100%
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input, select {
  padding: 0 10px;
  width: 100%;
  height: 35px;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  outline: inherit;

  &:focus {
    border: 1px solid $input-border-focus-color;
  }
}

option {
  height: 35px;
}

.margin-r-0 {
  margin-right: 5px;
}

button {
  &:focus {
    border: 0;
  }
}