.login-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.form-button {
    height: 45px;
    margin-top: 10px;
    border-radius: 35px;
    text-transform: uppercase;
    background-color: #ce8fef;
    color: #fff;
    font-size: 12px;
    font-weight: 700;

    &:active {
        background-color: #aa6acc;
    }
}